<div class="container">
      <div class="row justify-content-center">
            <div class="col-10">
            <%= render 'shared/errors', obj: @article %>
                  <%= form_with(model: @article, class: "shadow p-3 mb-3 bg-dark rounded", local: true) do |f| %>
                        <div class="form-group row text-white">
                              <%= f.label :title, class: "col-2 col-form-label" %>
                              <div class="col-10">
                                    <%= f.text_field :title, class: "form-control" %>
                              </div> 
                        </div>

                        <div class="form-group row text-white">
                              <%= f.label :descripcion, class: "col-2 col-form-label" %>
                              <div class="col-10">
                                    <%= f.text_area :descripcion, rows: 10, class: "form-control" %>
                              </div>
                        </div>   

                        <div class="form-group row justify-content-center">
                              <%= f.submit class: "btn btn-outline-light btn-lg" %>
                        </div>
                  <% end %>
            </div>
      </div>
      <div class="text-center font-weight-bold mb-5">
            <%= link_to '[ Regresar a los articulos ]', articles_path, class: "text-dark"%>
      </div>
</div>