<% if @article.errors.any? %>
      <h3>Sucedieron los siguientes errores</h3>
      <ul>
            <% @article.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
            <% end %>
      </ul>
<% end %>

<%= form_with(model: @article, local: true) do |f| %>
      <p>
            <%= f.label :title %><br/>
            <%= f.text_field :title %>
      </p>

      <p>
            <%= f.label :descripcion %><br/>
            <%= f.text_area :descripcion %>
      </p>   

      <p>
            <%= f.submit %>
      </p>
<% end %>