<h1>Lista de articulos</h1>

<table>
      <thead>
            <tr>
                  <th>Title</th>
                  <th>Descripcion</th>  
                  <th colspan="3">Acciones</th>  
            </tr>
      </thead>
      <tbody>
            <% @articles.each do |article| %>
                  <tr>
                        <td><%= article.title %></td>
                        <td><%= article.descripcion %></td>
                        <td><%= link_to 'Ver Articulo', article_path(article.id) %></td>
                        <td><%= link_to 'Editar', edit_article_path(article.id) %></td>
                        <td><%= link_to 'Eliminar', article_path(article.id), method: :delete, data: { confirm: "Estas seguro?" } %></td>
                  </tr>
            <% end %>
      </tbody>
</table>
<p>
      <%= link_to 'Crear articulo', new_article_path%>
</p>